@page
@model RegisterModel
@{
    ViewData["Title"] = "Create new user";
}

<style>
    #lab {
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-family: sans-serif;
        cursor: pointer;
        margin-top: 1rem;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: 2px 2px 4px #000000;
        text-shadow: 2px 2px 4px #000000;
        border-radius: 5px;
    }

    #file-chosen {
        margin-left: 0.3rem;
        font-family: sans-serif;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Employee</h3></div>
                <div class="card-body">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="required" asp-for="Input.FirstName"></label>
                                <input asp-for="Input.FirstName" class="form-control" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Input.MiddleName"></label>
                                <input asp-for="Input.MiddleName" class="form-control" />
                                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="required" asp-for="Input.LastName"></label>
                                <input asp-for="Input.LastName" class="form-control" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="required" asp-for="Input.EGN"></label>
                                <input asp-for="Input.EGN" class="form-control" />
                                <span asp-validation-for="Input.EGN" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required" asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="required" asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="required" asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="required" asp-for="Input.Role"></label>
                                <select class="col-md-12 form-control" id="serviceName" asp-for="Input.Role">
                                    <option value="Admin">Administrator</option>
                                    <option value="Seller">Seller</option>
                                    <option value="Engineer">Engineer</option>
                                </select>
                                <span asp-validation-for="Input.Role" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="required" asp-for="Input.CityId">City</label>
                                <select class="col-md-12 form-control" asp-for="Input.CityId">
                                    @foreach (var city in Model.Input.Cities)
                                    {
                                        <option value="@city.Id">@city.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="required" asp-for="Input.Phone"></label>
                                <input asp-for="Input.Phone" class="form-control" />
                                <span asp-validation-for="Input.Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <label for="label" id="lab" asp-for="Input.Image" class="required">Upload image</label>
                            <input Id="label" class="form-control-file" asp-for="Input.Image" type="file" hidden>
                            <span id="file-chosen">No file chosen</span>
                            <span asp-validation-for="Input.Image" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Create</button>
                    </form>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    const actualBtn = document.getElementById('label');
    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name
    })
</script>
    <partial name="_ValidationScriptsPartial" />
}
