@model IEnumerable<TelecomServiceSystem.Web.ViewModels.Tasks.TaskViewModel>

@{ this.ViewData["Title"] = "All tasks"; }

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">All tasks</h3></div>
                <div class="card-body">
                    <div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Task Id</th>
                                            <th>Instalation Date</th>
                                            <th>Team</th>
                                            <th>Complete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>City</th>
                                            <th>Team</th>
                                            <th>Free positions</th>
                                            <th>Add to team</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var task in Model)
                                        {
                                         <tr>
                                             <td>@task.Id</td>
                                             <td>@task.InstalationDate</td>
                                             <td>@task.TeamName</td>
                                             <td><a class="btn btn-primary" asp-controller="Engeniering" asp-action="CompleteInstalation" asp-route-orderId="@task.OrderId">Complete instalation</a></td>
                                         </tr>}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-md-offset-2">
                    <section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
