@using TelecomServiceSystem.Common
@{ this.ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4 text-white font-weight-bold">Welcome to @GlobalConstants.SystemName!</h1>
</div>


